.favorite_profile {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 10px 50px;
}

.favorite_profile img {
  height: 3em;
  width: 3em;
  border-radius: 100%;
  margin-right: 10px;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
  /* grid-template-rows: auto; */
  gap: 0.5em;
  justify-items: center;
  /* margin: 20px 50px; */
}

.grid-item {
  cursor: pointer;
  align-self: center;
  position: relative;
  min-height: 25em;
  border: #e9e9e9 solid 2px;
  border-radius: 16px;
}

.grid-item button {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}

.image_container {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 10px;
}

.heart {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 1;
  width: fit-content;
  border-radius: 100%;
  background-color: white;
  padding: 0.5em;
}

.heart * {
  display: flex;
  height: 0.75em;
  width: 0.75em;
  color: #b60130;
}

.image_container img {
  /* position: relative; */
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
