.product_manage_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;
}

.drop_down_setting:hover {
  text-align: right;
  background-color: lightgray;
  border-radius: 100%;
  width: fit-content;
}

.drop_down_container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product_container {
  margin: 20px 30px;
}
