.product_manage_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  margin: 50px;
}

.product_manage_single_container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product_manage_single_container img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.product_manage_single_container button {
  border: none;
}

.product_manage_single_container button:hover {
  background-color: lightgray;
}

.drop_down_container {
  display: flex;
  justify-content: space-between;
}

.drop_down_button {
  text-align: right;
  width: 100%;
}
