.product_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin: 50px;
  }
  
  .product_small_container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .product_small_container img {
    width: 100%;
    object-fit: cover;
    display: block;
  }
  