/* LandingPage.css */

.landing-page {
  font-family: Arial, sans-serif;
  /* background-color: #f7f7f7; */
}

.welcome-message {
  font-size: 24px;
  color: #333;
  margin: 20px;
  text-align: center;
}

.back-to-school {
  background-color: rgb(17, 40, 104);
  color: rgb(245, 255, 185);
  padding: 70px;
  font-size: 36px;
  text-align: center;
}

.back-to-school button {
  width: 25%;
  padding: 16px;
  margin-top: 20px;
  background-color: rgb(245, 255, 185);
  color: rgb(17, 40, 104);
}

.featured-product {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(245, 255, 185);
}

.featured-product img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-right: 60px;
  /* border-radius: 8px; */
  /* margin-right: 20px; */
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info h3 {
  font-size: 20px;
  color: rgb(17, 40, 104);
  margin-bottom: 16px;
}

.product-info div {
  font-size: 16px;
  color: rgb(17, 40, 104);
  margin-bottom: 16px;
  margin-right: 60px;
}

.product-info a {
  color: #f16521;
  text-decoration: none;
  font-weight: bold;
}

.product-info a:hover {
  text-decoration: underline;
}

.no-user-message {
  /* text-align: center;
  margin-top: 50px; */
  background-image: url("/images/LandingPage.webp");
  display: flex;
  flex-direction: column;
  text-align: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 80px);
  padding: 50px;
  color: white;
}

.featured-product_signed_out {
  display: flex;
  justify-content: space-between;
  background-color: #967b69;
  opacity: 0.9;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  margin-top: 25vh;
}

.featured-product_signed_out img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.no-user-message h2 {
  font-size: 50px;
  color: white;
  margin-top: 10px;
}

.product-info_signed_out {
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.no-user-message button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.no-user-message button:hover {
  background-color: lightgray;
}
