footer {
  height: 14vh;
  background-color: rgb(247, 245, 245);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;; */
}

.team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0px 60px;
}

.team-member {
  display: flex;
  align-items: center;
}

.team-member img {
  height: 60px;
  width: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50px;
  margin-right: 15px;
}

.team-member img:hover {
  cursor: pointer;
}

.team-link {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 5px;
}

.inspiration {
  padding-top: 15px;
  font-size: 12px;
  text-align: center;
}

.team-member a {
  font-size: large;
}

.team-member a:hover {
  color: #e00;
}
