footer {
  height: 12vh;
  background-color: rgb(247, 245, 245);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;; */
}

.team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0px 60px;
}

.team-link {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.inspiration {
  padding-top: 15px;
  font-size: 12px;
  text-align: center;
}
