.cart-container {
  margin: 0 auto;
  padding: 40px;
}

.cart-summary p {
  text-align: left;
}

.cart-list {
  list-style-type: none;
}

.cart-item {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eaeaea;
}

.cart-item-details * {
  margin-bottom: 5px;
}

.cart-item-title {
  font-size: 17px;
  margin-bottom: 10px;
  cursor: pointer; /* Ensure pointer cursor on title */
  color: black; /* Make the title appear as a link */
  text-decoration: none;
}

.cart-item-content {
  display: flex;
  align-items: center;
}

.cart-item-image {
  width: 150px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
  cursor: pointer;
}

.cart-item-details {
  flex: 1;
}

.cart-item-title:hover {
  text-decoration: underline;
}

.cart-item-seller {
  font-size: 13px;
  color: #777;
}

.cart-item-price {
  font-size: 15px;
  font-weight: bold;
}

.cart-item-price-remove {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 13px;
}

.cart-item-price {
  font-size: 13px;
  font-weight: bold;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.cart-item-quantity span {
  margin-right: 5px;
}

.cart-item-gift {
  font-size: 12px;
  color: #5a9;
}

.cart-item-actions {
  text-align: right;
}

.cart-item-remove {
  color: black;
  font-size: 14px;
  padding: 5px 10px;
}

.cart-item-remove:hover {
  background-color: lightgray;
  border-radius: 20px;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.cart-total {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  margin-left: auto;
}

.cart-footer button {
  background-color: black;
  border: none;
  color: white;
  width: 200px;
}

.cart-footer button:hover {
  background-color: grey;
}

.empty-cart {
  text-align: center;
  margin: 200px auto;
}

.empty-cart * {
  margin: 20px;
}

.empty-cart a:hover {
  color: grey;
}

.check-out-button button{
  background-color: orange;
}
