.prod-list .grid_container {
  grid-template-columns: repeat(auto-fill, minmax(14.25em, 1fr));
  margin: 0;
}

.prod-list .grid-item {
  min-height: 23em;
  /* max-width: 14.25em; */
  max-width: auto;
  /* height: ; */
  border-radius: 0;
  border: 0;

}

.prod-list .image_container {
  border-radius: 0;
  min-height: 3em;
  /* max-height: 60%; */

}

.prod-list .image_container img {
  border-radius: 0;
}

.price {
  font-size: 16px;
}

.product_list_star {
  display: flex;
}

.rating_count {
  color: grey;
  font-size: 12px;
}

.product_list_seller {
  color: grey;
  font-size: 12px;
}

.signed_off_button {
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0;
  padding-block: 1px;
  padding-inline: 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: white;
  font-weight: bold;
}

.add-to-cart {
  padding: 10px 20px;
  font-weight: normal;
  display: flex;
  gap: .5em;
}

.add-to-cart:hover {
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.15);
}

.product-details {
  display: flex;
  flex-direction: column;
  max-width: inherit;
  gap: .25em;
  padding-bottom: 3em;
}

.product-details p {
  margin: 0;
  font-size: 14px;
}

.rating {
  display: flex;
  align-items: center;
}

.count {
  font-size: 12px;
}

.title {
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod-list .grid-item:hover {
  box-shadow: none;
}
