.product_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
  gap: 0.5em;
  margin: 30px;
}

.product_small_container {
  position: relative;
  width: 25vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_small_container img {
  width: 25vh;
  height: 26vh;
  object-fit: cover;
  display: block;
}

.product_small_container p {
  font-size: 14px;
}

.price {
  font-size: 16px;
}

.product_list_star {
  display: flex;
}

.rating_count {
  color: grey;
  font-size: 12px;
}

.product_list_seller {
  color: grey;
  font-size: 12px;
}

.signed_off_button {
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0;
  padding-block: 1px;
  padding-inline: 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
  padding: 1em;
  border-radius: 25px;
  background-color: white;
  font-weight: bold;
}
