.small-image {
  position: relative;
  width: 4em;
  height: 4em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.selected {
  border: #000 1px solid;
}

.not-selected {
  filter: opacity(50%);
}

.not-selected:hover {
  filter: opacity(100%);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.main-image {
  position: relative;
  width: 100%;
  /* height: 60vh; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.than {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: fit-content;
  border-radius: 100%;
  background-color: white;
  padding: 0.5em;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  box-shadow: 0px 7px 10px 3px rgba(0, 0, 0, 0.205);
}

.than:hover {
  background-color: #e9e9e9;
}

#product-details {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  max-width: 87.5em;
  margin: 0 auto;
}

#details {
  width: 33%;
}

#details p {
  margin: 8px;
}

#image-container {
  display: flex;
  /* align-items: center; */
  gap: 0.5em;
  max-height: 30em;
  justify-content: space-between;
  position: relative;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd
}

#image-sidebar {
  display: flex;
  flex-direction: column;
  /* justify-content: baseline; */
  gap: 0.5em;

}

#mainImg-container {
  position: relative;
  width: 100%;
  padding-top: 75%; /* This sets a 4:3 aspect ratio */
  overflow: hidden;
  align-items: center;
}

#mainImg-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-image heart-invisible {
  display: block;
}

.detail-add-cart {
  border-radius: 50px;
}

#less {
  left: 0.5em;
}

#greater {
  right: 0.5em;
}
/*
#item-details {
  max-height: 29.5em;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.main-image .heart-invisible {
  display: block;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 1;
  width: fit-content;
  border-radius: 100%;
  background-color: white;
  padding: 0.5em;
}

.main-image .heart-invisible * {
  display: flex;
  height: 0.75em;
  width: 0.75em;
}

#right-side-details {
  width: 100%;
}

.post-review-click {
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
  border: solid black 1px;
  border-radius: 5px;
}

.post-review-click:hover {
  color: #000;
  background-color: #f0f0f0;
  color: #f16521;
}

.review-actions button,
.review-actions .edit-review,
.review-actions .delete-review {
  background: white;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.edit-review {
  font-weight: bold;
}

.edit-review:hover {
  text-decoration: underline;
}

.edit-review:hover,
.delete-review:hover {
  background-color: #f16521;
  color: white;
  border-color: #f16521;
}

.edit-review,
.delete-review {
  margin-right: 5px;
}

#review-container {
  padding: 1em;
  /* display: flex;
  flex-direction: column-reverse; */
}

@media (max-width: 900px) {
  #product-details {
    flex-direction: column;
  }

  #image-container {
    width: 100%;
    padding-bottom: 1em;
  }

  #details {
    width: 100%;
  }

  #review-container {
    width: 100%;
  }
}
