.payment-container {
  margin: 50px auto;
  width: 45%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-container p {
  margin: 5px 0;
  font-size: 0.9em;
  color: red;
}

.form-group {
  margin-bottom: 10px;
}

#cart-total {
  margin: 1em 0em;
  font-size: 16px;
}

.cart-footer {
  display: flex;
  justify-content: center;
}
