.form-modal {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
}

/* .register {

} */

form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  /* gap: 1em; */
}

.demo-button {
  display: block; /* Block-level to take up full width */
  width: 100%; /* Make the button full-width for consistency */
  text-align: center; /* Center text within the button */
  margin-top: 1em; /* Add some margin to separate it from form */
}

.cursor {
  cursor: pointer;
}
