.form-modal {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
  position: relative;
}

/* .register {

} */

form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  /* gap: 1em; */
}

.demo-button {
  display: block; /* Block-level to take up full width */
  width: 100%; /* Make the button full-width for consistency */
  text-align: center; /* Center text within the button */
  margin-top: 1em; /* Add some margin to separate it from form */
}

.cursor {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 0; /* Remove default padding */
}

li {
  list-style-type: none;
}

/* Error Messages */
.form-modal p.error {
  color: red; /* Makes the error message text red */
  margin-top: 5px;
  font-size: 14px;
}

.form-modal input {
  text-align: left; /* Ensures text starts from the left */
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

.form-modal input.error {
  border-color: red;
  background-color: #ffe6e6;
  text-align: left; /* Keep text left-aligned even when there's an error */
  color: red;
}

#log-in-required {
  font-size: 24px;
  display: flex;
  align-items: baseline;
}

.close-modal-button {
  padding: 1em;
  border-radius: 100%;
  position: absolute;
  right: -6.5em;
  top: -3em;
  background-color: transparent;
  color: white;
  border: none;
  display: flex;
  align-items: center;
}

.close-modal-button * {
  width: 1.5em;
  height: 1.5em;
}

.close-modal-button:hover {
  background-color: #cccccc45;
  padding: 1em;
  border-radius: 100%;
}
