.profile-dropdown {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  /* This is positioning the drop down */
  top: 10%;
  left: 85%;

  display: flex;
  flex-direction: column;
  z-index: 10; /* Ensure it's above other content */
  min-width: 150px; /* Minimum width for the dropdown */
}

nav ul {
  height: 4em;
  padding: 0.5em 2em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: solid lightgrey 2px; */
}

h1 {
  font-size: 35px;
  font-family: "Libre Baskerville", serif;
  font-weight: 300;
}

/*logo */
.nav_icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-self: auto;
  margin-left: 20px;
}

.nav_container {
  display: flex;
  justify-content: space-between; /* Distributes space between items */
  align-items: center; /* Centers items vertically */
  height: 60px; /* Height of the navbar */
  border-bottom: 1px solid #dee2e6; /* Bottom border for separation */
}

.icon-shopping {
  position: relative;
  padding: none;
}
.icon-shopping:hover {
  background-color: #cbebff;
  padding: 0.5em;
  border-radius: 100px;
}

.cart-count-badge {
  position: absolute;
  top: -10px; /* Adjusted for smaller size */
  right: -8px; /* Adjusted for smaller size */
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 8px; /* Smaller font size */
  font-weight: bold;
  width: 50%;
  height: 50%;
  min-width: 16px; /* Set a minimum width */
  min-height: 16px; /* Set a minimum height */
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding: 0;
}
