.profileIcon {
  width: 1.75em;
  height: 1.75em;
  border-radius: 100%;
}

.hiddenButton {
  border: none;
  background-color: white;
  /* border-radius: 100%; */
  /* animation: fadeIn 0.25s ease-in-out forwards; */
}

.hiddenButton:hover {
  cursor: pointer;
}

.profile-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* .profile-container * {
  width: 1.5em;
  height: 1.5em; */

/* } */

nav li {
  display: flex;
}

.profile-dropdown-div {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 8px;
  position: absolute;
  top: -9px;
  right: 12px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.profile-dropdown-div li {
  padding: 0.5em;
}

.unclikable {
  color: grey;
  font-style: italic;
}

.hover-effect:hover {
  background-color: lightgray;
  border-radius: 5px;
  width: 90%;
}

/* @keyframes fadeIn {
  0% {
    background-color: white;
  }
  100% {
    background-color: rgb(207, 207, 207);
  }
}  */

/* .hiddenButton:hover{
/* .hiddenButton:hover{
  box-shadow:grey 1px 1px;
  border-radius: 100%;
}
} */
