.profileIcon {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.hiddenButton{
    border:none;
    background-color: white;
}
/* .hiddenButton:hover{
    box-shadow:grey 1px 1px;
    border-radius: 100%;
} */
